<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_q6rrgnxyjy8pvi.css">
  <title>五子棋 typescript</title>
</head>
<body>
  <div id="app" class="app">
    <!-- 棋盘部分 -->
    <div id="chess-wrap" class="chess-wrap">
       <!-- <div class="chessboard" id="chessboard"></div>  -->
        <!-- <canvas class="chessboard" id="chessboard"></canvas>   -->
    </div>
    
    <!-- 按钮部分 -->
    <div class="options-wrap">
      <div class="msg msg-info">
        <span class="icon">
          <i class="iconfont icon-info1"></i>
        </span>
        <span class="message play-info">
          黑方执棋
        </span>
      </div>

      <div class="msg msg-success">
        <span class="icon">
          <i class="iconfont icon-success"></i>
        </span>
        <span class="message success-info">
          黑方获胜
        </span>
      </div>

      <div class="btn btn-regret" id="regret">
        <i class="iconfont"></i>
        我要悔棋
      </div> 
      
      <div class="btn btn-revoke" id="revoke">
        <i class="iconfont"></i>
        撤销悔棋
      </div> 
      
      <div class="btn btn-restart" id="restart">
        <i class="iconfont"></i>
        重开一局
      </div>
    </div>
  </div>
</body>
</html>